
body {
    background-image:  url('../imagenes/fondo.png');
}

/*color de los paneles de cada tarjeta*/
.panel-heading{
    background-color:  #005662!important;
    color: white !important ;
}

/*colo de la barra superior*/
.navbar{
    background-color: #005662; 
}

/*Diseño de los componetes de la barra superior*/
.navbar-brand:link, .navbar-brand:visited{
    color: white !important;

}
.navbar-brand:hover, .navbar-brand:active{
    color: deepskyblue !important;
}

#navbar li a:link, #navbar li a:visited{
    color: white !important;
}

#navbar li a:hover, #navbar li a:active{
    color: deepskyblue !important;   
}

/*color del nombre categorias*/
h3{
    color: #2f2f2f;
    padding: 10PX;
    text-shadow:-0.1px -0.1px 0.5px #ffffff,0.5px 0.5px 1px #005662;
}

/*Diseño del nombre categorias*/
.iluminada:hover{
    color: #005662;
    text-shadow: 0.5px 0.5px 1px #ffffff;
}

/*Diseño de la tarjeta de las categorias*/
.thumbnail{
    margin: 10px;
    padding: 0px;
    background: deepskyblue;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
    box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
}

/*para el contenedor de las categorias*/
.container{
    style-width: 80%;
}
/*tamaño de la barra*/
.navbar-header{
    height: 70px;
}

/*Para el contenedor de las tarjetas*/
#estilo-contenedor{
    style-width: 80%;
    background-color: white;
}

.panel-heading{
    height: 60px;
}
/* Footer  inicio*/
/* espacio del texto con la barra */
section {
    padding: 20px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

/* color del footer */
#footer {
    background: #005662 !important;
    height: 80px;
}

/* diseño de los titulos del footer */
#footer h2{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}

/* color de los link de web,desarrolladores,email */
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

/* animacion de los link de web desarrollo email*/
#footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
    
}
/* Footer fin */


