
body {
    background-image:  url('../imagenes/fondo.png');
}

/*color de los paneles de cada tarjeta*/
.panel-heading{
    background-color:  #005662!important;
    color: white !important ;
}

/*colo de la barra superior*/
.navbar{
    background-color: #005662; 
}
/*tamaño del texto de la barra navbar*/
.navbar-brand{
    font-size: 13.4px;
}

/*Diseño de los componetes de la barra superior*/
.navbar-brand:link, .navbar-brand:visited{
    color: white !important;

}
.navbar-brand:hover, .navbar-brand:active{
    color: deepskyblue !important;
}

#navbar li a:link, #navbar li a:visited{
    color: white !important;
}

#navbar li a:hover, #navbar li a:active{
    color: deepskyblue !important;   
}


/*Diseño del nombre categorias*/
.iluminada:hover{
    color: #005662;
  
}

/*Diseño de la tarjeta de las categorias*/
.thumbnail{
    margin: 10px;
    padding: 0px;
    background: deepskyblue;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
    box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);

  
}
/*tamaño de las cartas de categorias*/
#tamaño{
    height: 140px;
    width: 680px;
    
    
}
/*colo de la plantilla de los usuarios del panel de control*/
#colorUsuarios{
    color: black;
    padding-left: 20px;
        font-size: 13.5px;
}

/*Diseño del separador de los usuarios de panel de control*/
#disUsusarios{
   
    margin: 10px;
    padding: 0px;
    background: #005662;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*color cuando se despliege la opcion de panel de control*/
#despliege {
    background-color: #005662;
}

/*diseño del contenedor de los usuarios panel de control*/
#contenedor_usuarios{
    background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/*para el contenedor de las categorias*/

/*tamaño de la barra*/
.navbar-header{
    height: 60px;
}

/*Para el contenedor de las tarjetas inclulle el tamaño */
#estilo-contenedor{
    style-width: 90%;
    background-color: white;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
      }

#estilo-contenedor-textocategoria{
    style-width: 80%;
    background-color: white;
    margin-top: 3%;
}


.panel-heading{
    height: 60px;
}
/* Footer  inicio*/
/* espacio del texto con la barra */
section {
    padding: 20px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
    
}

/* color del footer */
#footer {
    background: #005662 !important;
    height: 50px;
}

/* diseño de los titulos del footer */
#footer span{
    padding-left:4px;
    padding-bottom: 4px;
    color:#ffffff;
  font-size: 13px;

}

#coloayuda{
    color: #ffffff;
}
/* color de los link de email */
.coloremail:hover{
  color: orange;
 text-shadow: 0.5px 0.5px 1px #02550;  
}


/* color de los link de web,desarrolladores,email */
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
     style-width: 80%;
  
}


/* Footer fin */

/* movimiento del icono de agenda */

.btn-card:hover{
    transform: translateY(-5px);
    transition: all 400ms;
}



#contenedor_perfiles{
    width: 80%;
    background-color: white;
    background-size: 70.7%;
    border-radius: 8px;
}

#encabezado_lista_contactos{
    background-color: #005662; 
    height: 60px; 
    width: 80% ; 
    vertical-align:middle;
    
    border-radius: 8px;
}

#nombreCategoria{
    color: white;
}

.btn-buscar{
    background: #005662;
    color:#ffffff ;
}
/*Estilos de PerfilOrganizacionSheyli*/

    /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	/*Nombre de Perfil Organizacion ,color de fondo y color de titulo*/
    .nombreOrganizacion{
    	background:#005662;
    }
    .colorNombreOrganizacion{
    	color:#fff;
    }

    .bordeTitulo{
        height: 60px; 
        vertical-align:middle;
        border-radius: 8px;
    }
    /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	/*Tamanio de Imagen de la Organizacion*/
    .tamanioImagenPO{
    	width: 100%; 
    	max-height: 340px;
    }
 /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*tamanio de panel*/
    .panelTexto{ 
	height: 500px;
	background:#FFF;
    }  
        
        
        
    #encabezado_contactos
    {
        height: 60px; 
        width: 84% ; 
        vertical-align:middle;

        border-radius: 8px;
    } 
 
     
#contenedor_contactosPerfiles{
    width: 86%;
}
#encabezado_resultado{
     background-color: #005662; 
    height: 60px; 
    width: 84% ; 
    vertical-align:middle;
    
    border-radius: 8px;
}
#contenedor_resultado{
     width: 84%;
    background-color: white;
    background-size: 70.7%;
    border-radius: 8px;
}

/* form starting stylings ------------------------------- */
.group{ 
    margin: 30px;
  position:relative; 
  margin-bottom:30px; 
}
input         {
  font-size:14px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus     { outline:none; }


/* LABEL ======================================= */
label          {
  color:#999; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:20px;
  transition:0.2s ease all; 
}

/* active state */
input:focus ~ label, input:valid ~ label     {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}
/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:780x; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:50%; 
   
  top:20%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from  { background:#5264AE; }
  to    { width:0; background:transparent; }
}


/*----boton --------------------------------*/
*{padding:0;margin:0;}

body{
	font-family:Verdana, Geneva, sans-serif;
	background-color:#CCC;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:60px;
	right:40px;
	background-color: #005662;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}